@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  background-color: rgb(230,230,230)
}

#bodycontainer {
  background-color: white;
	max-width: 600px;
	height: 100%;
	min-height: 100vh;
  margin: 50px auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
  border: 5px solid rgb(30,30,30);
  padding: 40px;
  border-radius: 100px;
}


.classheader {
    text-align: center;
}

.classheader .title {
  font-size: 2.2em;
  font-weight: bold;
}


.classinfo {
  text-align: center;
  font-size: 0.8em;
  margin: 20px 0px 40px 0px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.images img {
  max-width: 100%;
}

.images-caption {
  font-style: italic;
  text-align: center;
  margin: 40px;
}

.rounded-rectangle {
  border: 2px dashed black;
  padding: 40px;
  border-radius: 150px;
  text-align: center;
}

.description {
  text-align: center;
}

.rectangle {
  border: 2px dotted rgb(192, 18, 18);
  padding: 45px;
  text-align: left;
}

.edu-au-vic-wa-nt-guides-unique {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 400; /* You can use numeric values like 400 or 700, or 'bold', 'normal' */
  font-style: normal;
}